@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/SHARE/USERLAYOUT.cshtml";
}

<h2>Xác Nhận Đơn Hàng</h2>
<p>Đơn hàng của quý khách đã được hệ thống ghi nhận, chúng tôi sẽ giao hàng đúng hẹn !</p>
@Html.ActionLink("VỀ TRANG CHỦ","LAPPartial","LAPTOP")
